* {
  box-sizing: border-box;
}
.main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 360px;
  width: 450px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 20px rgb(184, 184, 184);
  border: solid 1px rgb(184, 184, 184);
  overflow: hidden;

  background-color: white;
}

.top {
  width: 100%;
  height: 25px;
  border-bottom: solid 1px rgb(184, 184, 184);

  background: linear-gradient(
    0deg,
    rgba(168, 168, 168, 0.5326505602240896) 0%,
    rgba(237, 237, 237, 1) 100%
  );
}

.body {
  padding: 12px 6px;
  height: 165px;
}

pre {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  margin: 0;
}

#tab {
  background-color: rgb(187, 186, 186);
  animation: 1s tab infinite;
}

@keyframes tab {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.char {
  display: none;
}

.rel {
  display: none;
}

.active {
  display: inline;
}

.body2 {
  height: 165px;
  padding: 12px 6px;
  border-top: 5px solid rgb(207, 207, 207);
}

.body2 span {
  color: rgb(47, 107, 156);
}

.body2 .string {
  color: rgb(211, 88, 109);
}

.body2 .int {
  color: rgb(38, 76, 158);
}
